/*== The UI Layout */
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
}

#simulation-section {
  flex-grow: 1;
}

#simulation-world {
  max-height: 95vh;
}

/*== The Simulation */
.simulation-boundary {
  stroke: gray;
  stroke-width: 5px;
}